@media screen and (max-width:1024px) {

    html {
        font-size: 12px;
    }

    .footer .footer-heading {
        font-size: 9rem;
    }

    .footer .footer-para {
        font-size: 1.8rem;
    }
}


@media screen and (max-width: 768px) {
    html {
        font-size: 11px;
    }

    .title-box .title-quote {
        font-size: 2rem;
    }

    .title-box .title-quote::before {
        font-size: 250%;
        top: -1.5rem;
        left: -3rem;
    }

    .title-box .title-quote::after {
        font-size: 250%;
        top: 4rem;
        right: -3rem;
    }

    .title-box .quote-sign {
        bottom: -3rem;
        right: -10rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .title-box .title-quote {
        font-size: 1.8rem;
    }

    .life-info {
        bottom: 10%;
    }

    .life-info p {
        padding: 0 4rem;
    }

    .music-albums {
        top: 25%;
    }

    .music-albums .album-art {
        max-width: 13.5rem;
    }

    .music-style {
        padding: 0 4rem;
    }

    .awards-container {
        flex-wrap: wrap;
    }

    .awards .awards-card {
        margin: 1.5rem;
        max-width: 14rem;
    }

    .awards .awards-card-year {
        font-size: 2rem;
    }

    .awards .awards-card-detail {
        font-size: 1.2rem;
    }

    .awards .awards-card-detail .awards-name {
        font-size: 1.3rem;
    }

    .footer .footer-heading {
        font-size: 8rem;
    }

    .footer .footer-para {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 320px) {
    
}